Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.qiring.net\.com$
RewriteRule ^(.*)$ https://qiring.net/$1 [R=301,L]
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ https://qiring.net/rs3/$1 [R=301,L]